body {
    background-color: rgb(95, 92, 158);
    color: rgb(48, 19, 49);
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    width: 350px;
    height: 300px;
    border: 2px dashed rgb(18, 8, 26);
}

.name_of_objects, #result_object_name , #result_object_accuracy
 {
    color: rgb(252, 247, 249);
 }

